@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-bar {
  font-family: "Rubik", sans-serif;

  padding: 1rem;
  margin: 0 auto;

  height: 8rem;
  width: 95%;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.nav-bar__home {
  width: 10rem;
  margin-left: 1.5rem;
}

.nav-bar__menu__img-burguer img {
  height: 1.5rem;
  margin: 0 2rem;
  margin-top: 0.5rem;
}

.nav-bar__menu ul {
  display: none;
}

.nav-bar__menu__input:checked ~ ul {
  padding-top: 2rem;
  position: fixed;
  list-style: none;
  width: 20%;
  margin: 0 auto;
  display: block;
}

.nav-bar__menu ul li a {
  font-weight: 300;
  text-decoration: none;
  color: white;
}

.nav-bar__menu ul li a:hover {
  font-weight: 400;

  text-decoration-line: underline;
  text-decoration-thickness: inherit;
  text-decoration-color: #ff7757;
  text-decoration-style: solid;

  transition: 300ms;
}

.nav-bar__menu__input {
  display: none;
}

@media (min-width: 836px) {
  .nav-bar {
  }

  .nav-bar__home {
    margin-left: 1.5rem;
    width: 13rem;
  }

  .nav-bar__menu {
    width: 70%;
  }

  .nav-bar__menu__img-burguer img {
    display: none;
  }

  .nav-bar__menu__input ~ ul {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .list-nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  .nav-bar__menu__list ul {
    width: 100%;
    height: 5rem;
  }

  .nav-bar__menu__list ul li {
    margin: 0 0.5rem;
  }

  .list-log {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    height: 100%;
    width: 30%;
  }

  .list-log .list-log__sing-up {
    background-color: #ff7757;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-align: center;
  }
}
