.traveler-exp-container {
  max-width: 1440px;
  padding: 4%;
  margin: 0 auto;
}

.traveler-exp-container__title-container {
  width: 100%;
  margin: 1.5rem 0 4rem 0;
}

.traveler-exp-container__title-container h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 4rem;
  font-weight: 500;
}

.traveler-exp-container__title-container hr {
  width: 20rem;
  margin: 0.5rem 0 2rem 0;
  border: 2px solid #ff7757;
}

.traveler-exp-container__title-container p {
  font-family: "Rubik", sans-serif;
  color: #767e86;
  font-size: 2rem;
  font-weight: 400;
}

/* OPINION - CARDS */

.traveler-exp-container__opinions-container {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 3rem 0;
  justify-content: flex-end;
}

.opinions-container__opinion-container {
  padding: 3.75rem 2.5rem 2.5rem 2.5rem;
  background-color: #f5f6f7;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;
}

.opinions-container__opinion-container img {
  position: absolute;
  top: -3.5rem;
}

.traveler-exp-container__nav-arrows-container {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem;
  justify-content: flex-end;
}

.traveler-exp-container__nav-arrows-container button {
  padding: 1.25rem 1.75rem;
  background-color: #172432;
  border-radius: 12px;
  border: none;
}

.traveler-exp-container__nav-arrows-container button + button {
  background-color: #ff7757;
}

@media (max-width: 426px) {
  .traveler-exp-container__title-container h2 {
    font-size: 2.5rem;
  }

  .traveler-exp-container__title-container p {
    font-size: 1.5rem;
  }

  .traveler-exp-container__opinions-container {
    flex-wrap: wrap;
    gap: 6rem;
  }

  .traveler-exp-container__nav-arrows-container {
    justify-content: center;
  }
}
